

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(6vw + vh)
}

.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-left img {
  width: 120px;
}

li a {
  text-decoration: none;
  color: black;

}
nav {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;

  align-items: center;
  border-bottom: 1px solid black;
  
}

ul,
li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:  baseline;
  margin-top: 1.4rem;
  padding: 1rem 3.5rem 1rem 5rem;
  font-weight: 600;
}
.nav-btn-container{
    padding: 2.8rem 0;
}

.menu-collapse{

}


.nav-img {
  width: 100px;
}

main>video#myVideo{
position: fixed;
width: 100%;

}
main{
 padding: 1.5rem 4rem;
}
.text-container-main{
    width: fit-content;
    padding: 11px 4rem;
    font-size: calc(6vw + vh)
 
}
.heart-span{
    text-transform: capitalize;
    font-weight: 700;
}


.text-container-main h1{
    width: 400px;
    padding-bottom: 3rem;
    
   
}


.text-container-main p {
    padding-top: 0;
    
  
}




.main-img{
 height: 650px;

}
.main-right{
   padding: 1px 4rem;
}



@media (min-width: 474px) and (max-width: 640px) {
    .container-custom {
        min-width: 474px;
        max-width: 640px;
       
      }
}

@media (min-width: 640px) and (max-width: 960px){
    .container-custom {
        max-width: 640px;
      }

      .menu-collapse{
   
    
        text-align: center;
        display: flex;
        align-items: center;
      }
      .services-nav{
       
        /* flex-direction: column;
        justify-content: center;
        align-content: center; */
      }
      .nav-btn-container{
        display: flex;
        flex-direction: column;
        width: max-content;
      }

     
     
}

@media (min-width:968px) and (max-width: 1280px){
  .container-custom{
    max-width: 760px;
  }

  .first-nav{
    display: flex;
    flex-direction: column;
  }

}







/* .top-nav-list{
  padding-left: 4rem;
  } */
