* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-left img {
  width: 120px;
}

li a {
  text-decoration: none;
  color: black;

}
nav {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;

  align-items: center;
  border-bottom: 1px solid black;
  
}

ul,
li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content:  baseline;
  margin-top: 1.4rem;
  padding: 1rem 2.5rem;
  font-weight: 600;
}

.first-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-img {
  width: 100px;
}

main>video{
    position: fixed;
    right: 0;
   
    min-width: 100%;
    min-height: 100%;
}
main{
   
}

/* .top-nav-list{
  padding-left: 4rem;
  } */
